* {
    box-sizing: border-box;
}
body {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}
.box {
    width: 600px;
    margin: 0 auto;
}
.btn-delete {
    border: 1px solid rgb(227, 199, 248);
    background-color: rgb(227, 211, 250);
    border-radius: 10%;
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    height: fit-content;
}
.btn-add {
    border: 1px solid rgb(227, 199, 248);
    background-color: rgb(227, 211, 250);
    border-radius: 20%;
    padding: 5px;
    font-size: 16px;
    height: fit-content;
}
.todo-add_section {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.add {
    width: 250px;
    height: 50px;
    border: 1px solid rgb(201, 172, 223);
}
.checkbox {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(227, 199, 248);
    appearance: none;
    cursor: pointer;
    margin: 0px 10px 0px;
}
.checkbox:checked {
    background-color: rgb(227, 211, 250);
}
.btn-delete-task {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(209, 205, 213) ;
    background-color: aliceblue;
    padding: 2px;
    border-radius: 50%;
    margin: 0px 10px 0px;
}
.container_task {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}